node_modules/

dist/
*.tar.gz

.DS_Store


vite.config.ts.*

.local/
.local/*

.env
.env.*
*.env.local

.idea/
.vscode/
*.iml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.local/*
.local/state/*
.replit
replit.*
.vitara/
*.ai/
*.llm/
*.codeql/
.codalab/
.codespaces/
*.ipynb_checkpoints

*.swp
*.swo
*.bak
